/* Propriétés générales de la page */
html {
    height: 100%;

}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    margin-bottom: 5em;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white url("img/plancher.jpg") no-repeat right bottom;
    background-attachment: fixed;
    background-size: cover;
}

#Logo {
    display: block;
    height: 75px;
    background-color: black;
    border-bottom-left-radius: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#logoEmplacement {
    float: right;
}

li {
    float: left;
}

li a {
    padding: 20px;
    display: block;
    color: white;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

li a:hover {
    transform: scale(1.25);
    transition: transform 300ms ease-in-out;

}

#iconeAccueil {
    height: 35px;
}

#iconeTravail {
    height: 35px;
}

#titre {
    margin: 15px;
    text-align: center;
    font-size: 3.5em;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#titre_encadre {
    display: block;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 25px;
    border-radius: 25px;
    border: 4px solid black;
    box-shadow: 4px 4px 8px;
    margin-bottom: 2em;
    transform:scale(1);
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

#titre_encadre:hover {
    background-color: black;
    color: white;
    transform:scale(1.25);
    transition: transform 500ms ease-in-out;;
}

#ensemble_pres {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#Presentation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 7%;
    border-radius: 35px;
    text-align: justify;
    max-width: max-content;
}

#Presentation img {
    margin-right: 200px;
    margin-left: 0;
}

#imageProfil {
    display: flex;
    border-radius: 35px;
    height: 10em;
    border: 3px solid white;
    box-shadow: -5px 5px 10px;
    transform:scale(1);
    transition: transform 500ms ease-in-out;
}

#imageProfil:hover {
    transform:scale(1.25);
    transition: transform 500ms ease-in-out;
}

#presTexte {
    display: flex;
    width: fit-content;
    text-align: justify;
    width: 200px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bolder;
    line-height:normal;
    transform:scale(1);
    transition: transform 500ms ease-in-out;
}

#presTexte:hover {
    transform:scale(1.25);
    transition: transform 500ms ease-in-out;
}

#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#contacterTXT{
    transform: translateY(-25%);
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}

#contacterTXT:hover {
    color: #FF8800;
    background-color: black;
    cursor: pointer;
}

#footer .contact {
    padding-left: 40px;
}

#img-linkedin:hover {
    transform: scale(1.5) translate(0%, -50%);
    transition: transform 300ms ease-in-out;
}

#footer h4 {
    margin: auto;
    margin-left: 1em;
}

#img-linkedin {
    width: 35px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#img-github {
    width: 90px;
    transform: scale(1)  translateY(-15%);
    transition: transform 300ms ease-in-out;
}

#img-github:hover {
    transform: scale(1.5) translate(0%, -50%);
    transition: transform 300ms ease-in-out;
}