body {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white url("imgProjets/plancher.jpg") no-repeat right bottom;
    background-attachment: fixed;
    background-size: cover;
}

#TitrePage {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 3em;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: burlywood;
}

#titre {
    position: fixed;
    width: 100%;
}

#first {
    margin-top: 12em;
}

.encadre-text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 1em;
    border-radius: 50px;
    margin-left: 2em;
    margin-right: 2em;
    width: 25em;
    margin-bottom: 2em;
}

.encadre-img:nth-child(2) img {
    margin-top: 12em;
}

.encadre-img {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 35em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.image-projets {
    height: auto;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 1em;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: auto;
    border-radius: 35px;
    width: auto;
}

.important {
    font-weight: bold;
}

.logo-langage-in-text {
    width: 1.5em;
    height: 1.5em;
}