@charset "UTF-8";
/* Propriétés générales de la page */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(157deg, #eb0b09 0%, #f86603 44%, #ff9300 74%, #c5c80c 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

#Home {
  height: 100vh;
}

#Home #BarreNav {
  position: fixed;
  z-index: 100;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

#Home #BarreNav .nav-btn {
  display: none;
  position: absolute;
  width: 35px;
  left: 20px;
  top: 20px;
}

#Home #BarreNav .nav-links ul {
  display: flex;
}

#Home #BarreNav .nav-links ul li {
  margin: 0 25px;
}

#Home #BarreNav .nav-links ul li .trait {
  margin-top: 1px;
  background: white;
  border-radius: 25px;
  width: 0%;
  height: 2px;
  transition: 0.5s;
  background-position: right;
}

#Home #BarreNav .nav-links ul li:hover .trait {
  width: 100%;
  transition: 0.5s;
}

#Home #BarreNav .nav-links ul li a:active {
  font-weight: 600;
}

#Home #BarreNav .mobile-menu {
  margin-left: 0;
}

@media screen and (max-width: 900px) {
  #Home #BarreNav .nav-btn {
    z-index: 7;
    display: block;
  }
  #Home #BarreNav .nav-links {
    z-index: 6;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    margin-left: -100%;
    transition: all 0.5s ease-in-out;
  }
  #Home #BarreNav .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Home #BarreNav .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
  #Home #BarreNav .mobile-menu {
    margin-left: 0;
  }
}

#Home #BarreNav a {
  color: white;
}

#Home #ensemble_pres {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

#Home #ensemble_pres .click-on {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 2.5vh;
  text-transform: uppercase;
  margin-bottom: 3vh;
  letter-spacing: 2px;
}

#Home #ensemble_pres .click-on:after {
  content: "⌄";
  text-align: center;
  margin-top: 0;
}

#Home #ensemble_pres #titre_encadre {
  background-color: white;
  margin: auto;
  font-size: 3vw;
  padding: 0 15px;
  border-radius: 25px;
  border: 4px solid black;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

#Home #ensemble_pres #titre_encadre:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  transition: transform 500ms ease-in-out;
}

#Home #ensemble_pres #titre_encadre #titre {
  margin: 15px;
  text-align: center;
}

#Home #ensemble_pres #Presentation {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

#Home #ensemble_pres #Presentation #imageProfil {
  display: flex;
  margin: 35px;
  border-radius: 25px;
  height: auto;
  width: 23%;
  border: 3px solid white;
  box-shadow: -5px 5px 10px;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

#Home #ensemble_pres #Presentation #imageProfil:hover {
  transform: scale(1.15);
  transition: transform 500ms ease-in-out;
}

#Home #ensemble_pres #Presentation #presTexte {
  margin: 35px;
  width: 50%;
  text-align: justify;
  font-weight: bold;
  line-height: normal;
  font-size: 1.25vw;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

#Home #ensemble_pres #Presentation #presTexte:hover {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

@media screen and (max-width: 750px) {
  #Home #ensemble_pres #Presentation {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  #Home #ensemble_pres #Presentation #imageProfil {
    display: flex;
    border-radius: 25px;
    height: 25vh;
    width: auto;
    border: 3px solid white;
    box-shadow: -5px 5px 10px;
  }
  #Home #ensemble_pres #Presentation #imageProfil:hover {
    transform: scale(1);
  }
  #Home #ensemble_pres #Presentation #presTexte {
    display: none;
  }
}

#Home #footer {
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 3vh;
  transform: scale(1);
  transition: transform 0ms ease-in-out;
  flex-direction: row;
}

#Home #footer #contacterTXT {
  font-size: 2.5vh;
  position: absolute;
  bottom: 5vh;
  border-radius: 50px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
}

#Home #footer #contacterTXT:hover {
  cursor: pointer;
  background-color: black;
  color: #ff6600;
  border-radius: 50px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

#Home #footer .contact #img-linkedin {
  width: 50px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

#Home #footer .contact #img-linkedin:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

#Home #footer .contact #img-github {
  width: 120px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

#Home #footer .contact #img-github:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

#Home #footer .coord {
  display: flex;
  justify-content: space-between;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

#Home #footer .coord:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

#Projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  height: auto;
  width: 75vw;
}

#Projets .titre-section-projets {
  color: white;
  font-family: "Merriweather", "sans-serif";
  font-size: 7vh;
  margin: 3vh;
}

#Projets .div-liste-projets .ul-liste-projets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Merriweather", "sans-serif";
}

#Projets .div-liste-projets .ul-liste-projets .item-projet {
  width: 30vh;
  height: 30vh;
  margin: 10px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet .pres-proj {
  display: none;
  color: white;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet img {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 35px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover {
  border: 1px dashed #d7390d;
  border-radius: 25px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover .pres-proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 100%;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover .pres-proj .titre-item-projet {
  text-transform: uppercase;
  font-size: large;
  margin: 25px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover .pres-proj .description-projet {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 25px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover .pres-proj .description-projet .langage {
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: #d7390d;
  border-radius: 5px;
}

#Projets .div-liste-projets .ul-liste-projets .item-projet:hover img {
  display: none;
}

#Footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

#Footer .form-title {
  font-size: 7vh;
  padding: 25px;
  color: white;
}

#Footer .form {
  display: flex;
  flex-direction: column;
  line-height: normal;
  align-items: center;
}

#Footer .form .form-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3vh;
}

#Footer .form .form-elem label {
  display: flex;
  width: 100%;
  margin-bottom: 1vh;
}

#Footer .form .form-elem input {
  width: 30vw;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#Footer .form .form-elem #message {
  padding: 10px;
  width: 30vw;
  height: 15vh;
  border-radius: 15px;
  border: none;
}

#Footer .form .submit {
  padding: 15px;
  border-radius: 15px;
  border: none;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
}
