/* Propriétés générales de la page */

$orange: rgb(255, 102, 0);
$background: linear-gradient(
  157deg,
  rgba(235, 11, 9, 1) 0%,
  rgba(248, 102, 3, 1) 44%,
  rgba(255, 147, 0, 1) 74%,
  rgba(221, 226, 13, 1) 100%
);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: $background;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

// Style de la section Home
#Home {
  height: 100vh;

  // Style de la barre Nav
  #BarreNav {
    position: fixed;
    z-index: 100;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

    .nav-btn {
      display: none;
      position: absolute;
      width: 35px;
      left: 50px;
      top: 50px;
    }

    .nav-links {
      ul {
        display: flex;

        li {
          margin: 0 25px;

          a {
            &:active {
              font-weight: 600;
            }
          }
        }
      }
    }

    .mobile-menu {
      margin-left: 0;
    }

    @media screen and (max-width: 900px) {
      .nav-btn {
        z-index: 7;
        display: block;
      }

      .nav-links {
        z-index: 6;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        margin-left: -100%;
        transition: all 0.5s ease-in-out;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;

          li {
            margin: 25px 0;
            font-size: 1.2em;
          }
        }
      }

      .mobile-menu {
        margin-left: 0;
      }
    }

    a {
      color: white;
    }
  }

  #ensemble_pres {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #titre_encadre {
      background-color: white;
      margin: auto;
      padding-left: 15px;
      padding-right: 25px;
      border-radius: 25px;
      border: 4px solid black;
      box-shadow: 4px 4px 8px;
      margin-bottom: 2em;
      transform: scale(1);
      transition: transform 500ms ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
        transform: scale(1.25);
        transition: transform 500ms ease-in-out;
      }

      #titre {
        margin: 15px;
        text-align: center;
        font-size: 3.5em;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      }
    }

    #Presentation {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      #imageProfil {
        display: flex;
        border-radius: 35px;
        height: 10em;
        border: 3px solid white;
        box-shadow: -5px 5px 10px;
        transform: scale(1);
        transition: transform 500ms ease-in-out;

        &:hover {
          transform: scale(1.25);
          transition: transform 500ms ease-in-out;
        }
      }

      #presTexte {
        width: 210px;
        text-align: justify;
        font-weight: bold;
        line-height: normal;
        transform: scale(1);
        transition: transform 500ms ease-in-out;

        &:hover {
          transform: scale(1.25);
          transition: transform 500ms ease-in-out;
        }
      }
    }
  }

  #footer {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 3vh;
    transform: scale(1);
    transition: transform 0ms ease-in-out;
    flex-direction: row;

    #contacterTXT {
      font-size: 2.5vh;
      position: absolute;
      bottom: 5vh;
      border-radius: 50px;
      padding: 5px;
      padding-left: 25px;
      padding-right: 25px;
      border: 2px solid black;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: $orange;
        border-radius: 50px;
        padding: 5px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .contact {
      #img-linkedin {
        width: 50px;
        transform: scale(1);
        transition: transform 300ms ease-in-out;

        &:hover {
          transform: scale(1.5);
          transition: transform 300ms ease-in-out;
        }
      }

      #img-github {
        width: 120px;
        transform: scale(1);
        transition: transform 300ms ease-in-out;

        &:hover {
          transform: scale(1.5);
          transition: transform 300ms ease-in-out;
        }
      }
    }
    .coord {
      display: flex;
      justify-content: space-between;
      transform: scale(1);
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.5);
        transition: transform 300ms ease-in-out;
      }
    }
  }
}

#Projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  height: auto;
  width: 75vw;

  .titre-section-projets {
    color: white;
    font-family: "Merriweather", "sans-serif";
    font-size: 7vh;
    margin: 3vh;
  }

  .div-liste-projets {
    display: flex;

    .ul-liste-projets {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      font-family: "Merriweather", "sans-serif";

      .item-projet {
        width: 30vh;
        height: 30vh;
        margin: 10px;
        font-family: "Merriweather", "sans-serif";

        .pres-proj {
          display: none;
          color: white;
        }

        img {
          display: flex;
          height: 100%;
          width: 100%;
          border-radius: 25px;
        }

        &:hover {
          border: 1px dashed rgb(215, 57, 13);
          border-radius: 25px;
          .pres-proj {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 80%;
            width: 100%;

            .titre-item-projet {
              text-transform: uppercase;
              font-size: large;
              margin: 25px;
            }

            .description-projet {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              
              margin: 5px 25px;

              .langage {
                margin: 5px;
                padding: 5px;
                text-align: center;
                background-color: rgb(215, 57, 13);
                border-radius: 5px;
              }
            }
          }

          img {
            display: none;
          }
        }
      }
    }
  }
}

// Style de la scrollBar
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 8px;
}
