/* Propriétés générales de la page */

body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

// Style de la scrollBar
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 8px;
}

// Style du logo
#logoEmplacement {
  position: absolute;
  right: 0;
  z-index: 2;

  #Logo {
    height: 10vh;
    background-color: black;
  }
}

$orange: rgb(255, 102, 0);

// Style de la section Home
#Home {
  height: 100vh;
  background-color: $orange;
  border-bottom: 10px solid whitesmoke;

  // Style de la barre Nav
  #BarreNav {
    height: 10vh;
    display: flex;
    align-items: center;

    ul {
      z-index: 5;
      list-style-type: none;
      display: flex;
      position: fixed;
      background-color: #000000;
      margin: 0;
      margin-left: 10px;
      border-radius: 100px;
      padding: 20px;

      .item-nav {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-left: 30px;
        padding-right: 10px;

        &:nth-child(1) {
          margin-left: 0;
          padding-left: 10px;
        }

        .lien-nav {
          color: white;
          text-decoration-line: none;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }

  #ensemble_pres {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #titre_encadre {
      background-color: white;
      margin: auto;
      padding-left: 15px;
      padding-right: 25px;
      border-radius: 25px;
      border: 4px solid black;
      box-shadow: 4px 4px 8px;
      margin-bottom: 2em;
      transform: scale(1);
      transition: transform 500ms ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
        transform: scale(1.25);
        transition: transform 500ms ease-in-out;
      }

      #titre {
        margin: 15px;
        text-align: center;
        font-size: 3.5em;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      }
    }

    #Presentation {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      #imageProfil {
        display: flex;
        border-radius: 35px;
        height: 10em;
        border: 3px solid white;
        box-shadow: -5px 5px 10px;
        transform: scale(1);
        transition: transform 500ms ease-in-out;

        &:hover {
          transform: scale(1.25);
          transition: transform 500ms ease-in-out;
        }
      }

      #presTexte {
        width: 210px;
        text-align: justify;
        font-weight: bold;
        line-height: normal;
        transform: scale(1);
        transition: transform 500ms ease-in-out;

        &:hover {
          transform: scale(1.25);
          transition: transform 500ms ease-in-out;
        }
      }
    }
  }

  #footer {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 3vh;
    transform: scale(1);
    transition: transform 0ms ease-in-out;
    flex-direction: row;

    #contacterTXT {
      font-size: 2.5vh;
      position: absolute;
      bottom: 5vh;
      border-radius: 50px;
      padding: 5px;
      padding-left: 25px;
      padding-right: 25px;
      border: 2px solid black;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: $orange;
        border-radius: 50px;
        padding: 5px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .contact {
      #img-linkedin {
        width: 50px;
        transform: scale(1);
        transition: transform 300ms ease-in-out;

        &:hover {
          transform: scale(1.5);
          transition: transform 300ms ease-in-out;
        }
      }

      #img-github {
        width: 120px;
        transform: scale(1);
        transition: transform 300ms ease-in-out;

        &:hover {
          transform: scale(1.5);
          transition: transform 300ms ease-in-out;
        }
      }
    }
    .coord {
      display: flex;
      justify-content: space-between;
      transform: scale(1);
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.5);
        transition: transform 300ms ease-in-out;
      }
    }
  }
}

#Projets {
  height: 100vh;
  background-color: #3d4852;

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .slider {
      width: 100%;
      height: 100vh;
      text-align: center;

      .slides {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        font-family: "Merriweather", "sans-serif";

        .slide {
          z-index: 0;
          display: flex;
          align-items: 0;
          flex-shrink: 0;
          width: 100%;
          height: 100vh;
          margin-right: 0px;
          transform-origin: center center;
          transform: scale(1);
          scroll-snap-align: center;

          img {
            position: absolute;
            right: 0;
            height: 100%;
            width: 65%;
          }

          .description {
            color: white;
            line-height: 4vh;
            letter-spacing: 1.5px;
            font-size: 0.8vw;
            display: flex;
            position: absolute;
            top: 40%;
            width: 25%;
            left: 5%;
            align-items: center;
          }

          .slide-text {
            text-transform: uppercase;
            font-size: 2.25vw;

            font-weight: bold;
            color: white;
            position: absolute;
            top: 8%;
            left: 5%;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

#Footer {
  height: 100vh;
  background-color: rgb(33, 87, 33);
}
