#Logo {
  display: block;
  height: max-content;
  background-color: black;
  border-bottom-left-radius: 25px;
}

#BarreNav {
  display: flex;
  width: 100%;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      a {
        padding: 20px;
        display: block;
        transform: scale(1);
        transition: transform 300ms ease-in-out;

        &:hover {
          transform: scale(1.25);
          transition: transform 300ms ease-in-out;
        }

        #iconeAccueil {
          height: 35px;
        }

        #iconeTravail {
          height: 35px;
        }
      }
    }
  }

  #logoEmplacement {
    position: absolute;
    right: 0;

    #Logo {
      height: 90px;
      background-color: black;
      border-bottom-left-radius: 25px;
    }
  }
}

// style slider

$bg-color: #222;
$margin: 20px;

body {
  color: #333;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white url("../img/plancher.jpg") no-repeat right bottom;
  background-attachment: fixed;
  background-size: cover;
}

.ensemble-projet {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;

    content: "";
    display: block;
    width: $margin;
    height: 100%;
  }
}

.list-projet {
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  padding: 0;
  cursor: pointer;

  &.active {
    cursor: grab;
  }
}

.projet {
  background-color: #222;
  display: inline-block;
  user-select: none;
  list-style: none;
  width: 100%;
  height: 100%;
  color: $bg-color;
  font-size: 33px;
  font-weight: bold;
}
